//variables para los textos
$hind: 'Hind', sans-serif;
$poppins: 'Poppins', sans-serif;
$raleway :'Raleway', sans-serif;


//variables para los colores
$red : #D85A5A;
$red-other-text: #9E7474;
$border: #707070;