//variables para los tamaños
$pixel52 : 3.25rem;
$pixel67: 4.18rem;
$pixel50: 3.12rem;
$pixel22: 1.37rem;
$pixel20: 1.25rem;

//variables para los colores
$red : #D85A5A;
$red-other-text: #9E7474;
$border: #707070;