@use 'variables';


@mixin font-weight($weight) {
    @if ($weight=='regular') {
        font-weight: 400;
    }

    @else if ($weight=='bold') {
        font-weight: 700;
    }

    @else if ($weight=='medium') {
        font-weight: 500;
    }
}

@mixin small {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

//funcion para dividir los pixeles en rem
@function rem($px) {
    @return calc($px / 16)+rem;
}
html {
    border: rem(4) solid variables.$border;
    overflow-x: hidden;
    background-color:white;
    max-height: rem(1080);
    @include small {
        border: none;
       
    }
}
.container {
    margin: 4rem;
    @include small {
        margin: 2rem;
    }
        
    
}
h1 {
    font-family: variables.$hind;
    font-size: rem(52);
    @include font-weight('bold');
    margin-left: 1.5rem;
    @include small {
        font-size: rem(36);
        margin-left: 0rem;
    }

}
.info {
    margin-top: 5rem;
    @include small {
        margin-top: 2rem;
    }

    h2 {
        font-family: variables.$poppins;
        font-size: rem(67);
        @include font-weight('bold');
        text-align: left;
        line-height: rem(82);
        margin-left: 2rem;
        @include small {
            font-size: rem(37);
            line-height: rem(52);
            margin-left: 1rem;
        }

    }

    h3 {
        font-family: variables.$poppins;
        font-size: rem(50);
        @include font-weight('medium');
        position: relative;
        bottom: 3rem;
        line-height: rem(60);
        margin-left: 2rem;
        @include small {
            margin-top: 3rem;
            font-size: rem(25);
            line-height: rem(50);
            margin-left: 1rem;
        }
    }

    p {
        font-family: variables.$raleway;
        font-size: rem(22);
        @include font-weight('regular');
        position: relative;
        bottom: 6rem;
        text-align: left;
        color: variables.$red-other-text;
        line-height: rem(54);
        margin-left: 2rem;
        @include small {
            font-size: rem(18);
            line-height: rem(25);
            margin-left: 1rem;
            margin-top: 3rem;
        }
    }
}
.linea-vertical {
    border-left: rem(10) solid variables.$red;
    height: rem(297);
    position: relative;
    right: 2rem;
}

.btns {
    margin-top: 10rem;
    transition: all ease 0.5s;
    @include small {
        margin-top: 5rem;
    }
    button {
        cursor: pointer;
        border: 1px solid variables.$border;
        padding: rem(30) rem(60);
        margin-right: 2rem;
        font-family: variables.$raleway;
        font-size: rem(20);
        @include font-weight('medium');
        background: white;
        border-radius: rem(81);
        @include small {
            font-size: rem(12);
            padding: rem(14) rem(24);
            margin-right: 1rem;

        }
        
        
    }

    
    button:first-child {
        background-color: variables.$red;
        color: white;
    }
    button:last-child {
        background-color: white;
        color: variables.$red;
        border: none;
        box-shadow: rem(2) rem(5) rem(7) 0rem variables.$border;
        
    }
   button:after,
    button:before{
        width: 80px;
        height: 200px;
        content: '';
        display: block;
        background: rgba(255,255,255,0.5);
        transform: rotate(45deg);
        top: -60px;
        position: absolute;
        transition: none;
        right:-45%;
        cursor: pointer;
    }
    
    button:before{
        left: -48%;
    }
    
    button:hover{
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
        background:#12C987
    }
    
    button:hover:after,
    button:hover:before{
        transform: rotate(45deg), scaleX(130%);
        background: rgba(255,255,255,0.1);
        transition: all ease 0.5s;
    }
    
    button:hover:after{
        right: 130%;
    }
    
    button:hover:before{
        left: 130%;
    }
}

 

.footer-text {
    font-family: variables.$raleway;
    font-size: rem(22);
    text-align: left;
    margin-top: 2rem;
    @include small {
        font-size: rem(18);
        margin-top: 0rem;
    }
    p:first-child {
        @include font-weight('bold');
    }
    p:nth-child(2) {
        @include font-weight('regular');
        color: variables.$red-other-text;
    }

}
.arrow {
    border-bottom: rem(5) solid variables.$red;
    margin-left: 6.8rem;
    width: rem(124);
    @include small {
        margin-left: 13.2rem;
        transform: rotate(90deg);
        width: rem(60);

    }

}
.triangle-arrow-top {
    border-bottom: rem(5) solid variables.$red;
    width: rem(25);
    position: relative;
    left: 13.2rem;
    top: -.8rem;
    transform: rotate(40deg);
    @include small {
        left: 14.1rem;
        transform: rotate(50deg);
        width: rem(18);
        top: 1rem;
    }
}
.triangle-arrow-bot {
    border-top: rem(5) solid variables.$red;
    width: rem(25);
    position: relative;
    left: 13.2rem;
    top: -.2rem;
    transform: rotate(-40deg);
    @include small {
        left: 14.7rem;
        transform: rotate(-50deg);
        width: rem(20);
        top:.8rem;
    }
}

.cart {
    position: absolute;
    left: 90%;
    bottom: 78%;
    text-align: center;
    @include small {
        left: 16.3rem;
        bottom: 3%;
    }
    i{
        font-size: rem(40);
        margin-top: 1.5rem;
        color: white;
        @include small {
            font-size: rem(20);
            margin-top: .6rem;
        }
        
    }
}
.square {
    width: rem(69);
    height: rem(89);
    background-color: black;
    border: 1px solid variables.$border;
    border-radius: rem(10);
    //redondear el borde derecho
    border-bottom-right-radius: rem(50);
    @include small {
        width: rem(40);
        height: rem(50);
       
    }
}
img{
    position: absolute;
    width: 80%;
    /* border-radius: 204.625rem; */
    object-fit: contain;
    /* margin-left: 35rem; */
    padding-left: 30rem;
    /* margin-bottom: 20rem; */
    top:9rem;
    // transform: rotate(5deg);
    max-height: 52rem;
    @include small {
        width: 60%;
        top: 39rem;
        right: 8rem;
        padding-left: 0rem;
        max-height: 50rem;
    }
}